<div fxLayout fxColumn fxAlign fxCenter fxMiddle fxGap class="fxGap-50 section-container">
  <div fxFlex fxNoGrow fxLayout fxColumn fxAlign fxCenter fxMiddle>
    <span fxFlex fxNoGrow class="title">Richard Lapwood</span>
    <span fxFlex fxNoGrow class="subtitle">Software Engineer</span>
  </div>
  <div fxFlex fxNoGrow fxLayout fxColumn fxAlign fxCenter fxMiddle fxGap class="fxGap-20 content">
    <span fxFlex fxNoGrow>Scroll down for my portfolio</span>
    <i fxFlex fxNoGrow class="arrow-down fas fa-angle-down"></i>
  </div>
</div>
<div fxLayout fxColumn fxAlign fxCenter fxMiddle class="section-container">
  <div fxFlex fxNoGrow fxLayout fxRow fxWrap fxAlign fxCenter fxMiddle class="projects">
    <a fxFlex fxNoGrow fxLayout fxColumn fxGap class="fxGap-10 project" *ngFor="let project of projects" href="{{ project.url }}" target="_blank">
      <div fxFlex fxNoGorow class="project-image">
        <img fxFlex fxNoGrow src="{{ project.image.primary }}">
        <img *ngIf="project.image.secondary" fxFlex fxNoGrow src="{{ project.image.secondary }}">
      </div>
      <div fxFlex fxNoGrow fxLayout fxColumn>
        <span fxFlex fxNoGrow class="project-title">{{ project.name }}</span>
        <span fxFlex fxNoGrow class="project-description">{{ project.description }}</span>
      </div>
    </a>
  </div>
</div>
